<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<meta name="description" content="{% block description %}Learn the secret of building employee schedules with the best scheduling tool. Save 90% of your scheduling time and keep employees and customers happy. Free trial available!{% endblock %}" />
	<meta name="keywords" content="{% block keywords %}Employee scheduling, Employee scheduling software, Staff scheduling, Staff scheduling Software, Employee Schedule Template, Work Schedule Template, Shift schedule template, Weekly Work Schedule, Shift Rota{% endblock %}" />
	<title>{% block title %}Employee Scheduling has never been this Easy{% endblock %} | BusyBeeManager</title>
	
	<link rel="stylesheet" href="/static/css/foundation.css">
	<link rel="stylesheet" href="/static/css/app.css">
	
	<link href='http://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
	<link rel="shortcut icon" href="/static/images/favicon.png" />
	<!--[if lt IE 9]>
		<link rel="stylesheet" href="/static/css/ie.css">
	<![endif]-->
	
	<!-- IE Fix for HTML5 Tags -->
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
  <!-- Newsletter Modal -->
  <div id="newsletter-modal" class="reveal-modal">
    <h2>Thank You</h2>
    <p class="lead">We'll keep you posted with the latest information about BusyBeeManager.</p>
    <p>You can at any time unsubscribe the newsletter, by clicking the unsubscribe link in the Newsletter.</p>

    <a class="close-reveal-modal">&#215;</a>
  </div>
  
  
  <!-- Login Modal -->
  <div id="login-modal" class="reveal-modal">
    <h3>Login</h3>
    <p>When you registered for BusyBeeManager, we sent you a welcome email with your private URL.</p>
    <p>You need to go to this unique web address to login to your account. If you have trouble locating this email from us, we can find it for you.</p>
    <p>Enter your email address and we’ll send you the account(s) associated with it.</p>
    <form class="nice">
      <input type="text" class="input-text" placeholder="youremail@address.com" /><a href="#" class="small radius charcoal button">Remind Me</a>
    </form>

    <a class="close-reveal-modal">&#215;</a>
  </div>
  
  <!-- Top Bar -->
  <div id="top" class="container">
    <div class="row">
      <div class="eight columns">
        <a href="/">
          <img id="logo" src="/static/images/logo_white.png" />
        </a>
      </div>
      <div id="nav" class="four columns hide-on-phones">
        <a href="#login" class="small radius white button right" data-reveal-id="login-modal">Login</a>
        <a href="/signup" class="small radius blue button right">Sign up</a> 
      </div>
    </div>
  </div>
  
  {% block body %}{% endblock %}
  
	<!-- Footer -->
	<div id="footer" class="container">
    <div class="row">
      <div class="four columns">
        <h5>Subscribe to our Newsletter</h5>
        <p>
          Hear about new features, promos, discounts and more. 
          Subscribe to our periodic newsletters.
        </p>
        <form id="newsletter-form" class="nice">
          <input id="newsletter-email" name="newsletter-email" type="text" class="input-text required email" placeholder="youremail@address.com" tabindex="-1" />
        </form>
        <p>
          Input your e-mail address and press enter.  
        </p>
        <p>
          You can always unsubscribe the newsletter.
        </p>
      </div>
      <div class="four columns">
        <h5>Recent posts from our Blog</h5>
        <h6><a href="#">Employee Scheduling For New Managers</a></h6>
        <p class="blogpost">
          There is nothing more intimidating to a new manager than 
          completing that employee schedule for the first time...
        </p>
        <h6><a href="#">Retail Employee Scheduling – Case Story</a></h6>
        <p class="blogpost">
          We recently did a small interview with retail gift store 
          Acquisitions from Timaru, New Zealand...
        </p>
        <p>
          <a href="#">See all blog posts</a>
        </p>
      </div>
      <div class="four columns">
        <h5>Heard on Twitter</h5>
        <p class="tweet">
          Check out our new automatic employee scheduling tutorial. #busybee - @busybee
        </p>
        <p class="tweet">
          The new version of #busybee is soon to be released. - @busybee
        </p>
        <p class="tweet">
          #busybee is the best online scheduling software out there - @propellerhead
        </p>
        <p>
          <a href="http://twitter.com/busybeemanager">Follow us on twitter</a>
        </p>
      </div>
    </div>
    
    <div class="row">
      <div class="twelve columns center">
		    <img id="footer-logo" src="/static/images/logo_white.png" />
		    <p class="copyright">
		      &copy; 2012 BusyBeeManager. All Rights Reserved. <a href="/sitemap">Sitemap</a>
		    </p>
		  </div>
    </div>
  </div>

	<!-- Included JS Files -->
	<script type="text/javascript" src="/static/js/jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/modernizr.foundation.js"></script>
	<script type="text/javascript" src="/static/js/foundation.js"></script>
	<script type="text/javascript" src="/static/js/app.js"></script>
	<script type="text/javascript" src="/static/js/jquery.validate.js"></script>
	<script type="text/javascript">
	 $(function() {
	   $("#newsletter-form").validate({
       errorElement: "small"
     });
     
     $("#newsletter-email").keypress(function(e) {
       if(e.which == 13) {
         if ($("#newsletter-form").valid()) {

           $.ajax({
             url: '/api/subscribe/' + $("#newsletter-email").val(),
             dataType: 'json',
             success: function(data) {
               $("#newsletter-modal").reveal();
             },
             error: function() {
               alert("!!!error!!!");
             }
           });
           
           return false;
         }
       }
       
       return true;
     });
   });
	</script>
	{% block script %}{% endblock %}
</body>
</html>