{% extends "base.html" %}
{% block body %}
<!-- Teaser -->
<div id="teaser" class="container">
  <div class="row">
    <div class="six columns center">
      <h1>Employee Scheduling has never been this Easy</h1>
      <p style="margin-top: 40px">
        This web application has forever transformed the way managers of small businesses such as cafes, restaurants, bars, shops and even pet service centers maintain work schedules and rosters.
      </p>
      <a id="sign-up" href="/signup" class="nice large radius button">It's Free, Sign up Today</a>
    </div>
    <div class="six columns">
      <div id="monitor-wrapper">
        <img id="monitor" src="/static/images/monitor.png" />
        <a href="#"><img id="screen" src="/static/images/screen.png" /></a>
      </div>
    </div>
  </div>
</div>

<!-- Main Content -->
<div id="main" class="container">
  
  <div id="highlights" class="row">
    <div class="four columns">
      <h4>Save Time</h4>
      <p>
        Cut employee scheduling time by 90% and spend your time making money instead of fiddling with pen and paper. The days of manual employee scheduling or messing with your own Excel systems are over. BusyBeeManager is here to help.
      </p>
    </div>
    <div class="four columns">
      <h4>Automatic</h4>
      <p>
        Complete your employee shift schedules in a few seconds. Easy-to-create templates and the auto-assign functionality give you a week's schedule with just one click.
      </p>
    </div>
    <div class="four columns">
      <h4>Fool Proof</h4>
      <p>
        Avoid 'no shows' by making error free employee schedules with just one click. Keep track of employees' work days and agreed working hours. When are they on vacation? Which days can they work? BusyBeeManager can keep track of this for you.
      </p>
    </div>
  </div>
  
  <div class="row">
    <div class="six columns">
			<h4>Tante T, Tea Salon</h4>
			<img src="/static/images/reference-1.png" class="right">
			<blockquote>
			  Employee Scheduling used to be 
        like a big jigsaw puzzle - thanks 
        to BusyBeeManager - it's almost 
        automatic now. I'll never go back 
        to the old Excel-sheet again.
			</blockquote>
			<p>
			  The Copenhagen based Tea Salon Tante-T (Tante T translates to Auntie Tea) 
        has been a long time customer for BusyBeeManager - we interviewed owner 
        Mette-Maria Viscor on how they use the application for their employee 
        scheduling.
			</p>
			<p>
			  Read the full interview <a href="#">here</a>.
			</p>
		</div>
		<div class="six columns">
			<h4>Acquisitions, Retail Gift Store</h4>
			<img src="/static/images/reference-2.png" class="right">
			<blockquote>
			  We only have 6 staff in this store, but all but one are on 
        part-time hours, and they all have times they are or are 
        not available. Keeping track of when staff can work and 
        can’t can be quite time consuming. 
        Thanks to BusyBeeManager - that’s a lot easier now.
			</blockquote>
			<p>
			  We recently did a small interview with retail gift store Acquisitions from Timaru, New Zealand. 
			  Acquisitions have been with BusyBeeManager since autumn 2009.
			</p>
			<p>
			  Read the full interview <a href="#">here</a>.
			</p>
		</div>
  </div>
	
	<div class="row">
	  <div class="twelve columns">
	    <p class="center">
        Some of the companies we are proud to have as customers:
      </p>
	    <div id="logos" class="panel center">
	      <img src="/static/images/clients.png" style="margin-top: 10px" />
	    </div>
	  </div>
	</div>
	
	<div class="row">
		<div id="features" class="four columns">
			<h5>This is Why!</h5>
      <ul>
        <li>
          <h6>Easy to Use</h6>
          <p>
            BusyBeeManager is all about planning employee schedules and roosters; easily and quickly.
          </p>
        </li>
        <li>
          <h6>Nothing to Install</h6>
          <p>
            With BusyBeeManager you'll get a unique web address for your account, which you can easily access anywhere without having to install anything.
          </p>
        </li>
        <li>
          <h6>Try it out for Free</h6>
          <p>
            Get a free 30-day trial, and if you like what you see, you can sign up for as little as $10/month. No long term contracts and pay as you go.
          </p>
        </li>
        <li>
          <h6>Reliable and Fast</h6>
          <img src="http://code.google.com/appengine/images/appengine-noborder-120x30.gif" 
alt="Powered by Google App Engine" class="right" />
          <p>
            BusyBeeManager runs on top of Google-built infrastructure that has proven itself very reliable and fast.
          </p>
        </li>
        <li>
          <h6>Selling Point 5</h6>
          <p>
            Here is an extra selling point to fill in the empty space. Here is an extra selling point to fill in the empty space.
          </p>
        </li>
      </ul>
		</div>
		
		<div class="eight columns">
			<table id="upgrade" class="right">
        <thead>
          <tr>
            <th class="col0"></th>
            <th class="col1-3"><h5>Plus Plan</h5>$15 <sup>month</sup></th>
            <th class="col1-3"><h5>Basic Plan</h5>$10 <sup>month</sup></th>
            <th class="col1-3"><h5>Free Plan</h5></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><span class="left">Employees</span></td>
            <td>Unlimited</td>
            <td>15</td>
            <td>5</td>
          </tr>
          <tr>
            <td><span class="left">Job Roles</span></td>
            <td>Unlimited</td>
            <td>4</td>
            <td>2</td>
          </tr>
          <tr>
            <td><span class="left">Auto Generate Schedule</span></td>
            <td>Yes</td>
            <td>Yes</td>
            <td>Yes</td>
          </tr>
          <tr>
            <td><span class="left">Schedule Templates</span></td>
            <td>Yes</td>
            <td>Yes</td>
            <td>Yes</td>
          </tr>
          <tr>
            <td><span class="left">Publish Schedule for E-mail and Print</span></td>
            <td>Yes</td>
            <td>Yes</td>
            <td>No</td>
          </tr>
          <tr>
            <td><span class="left">Register Available Weekdays for Employees</span></td>
            <td>Yes</td>
            <td>Yes</td>
            <td>No</td>
          </tr>
          <tr>
            <td><span class="left">Work with Multiple Departments</span></td>
            <td>Yes</td>
            <td>No</td>
            <td>No</td>
          </tr>
          <tr>
            <td><span class="left">Register Days Off for Employees</span></td>
            <td>Yes</td>
            <td>No</td>
            <td>No</td>
          </tr>
        </tbody>
      </table>
      
      <a id="sign-up" href="/signup" class="nice large radius green button right">Sign up now</a>
		</div>
	</div>
	
	<div class="row">
	  <div class="twelve columns">
	    <h4>See it in Action</h4>
	    <hr />
	  </div>
	</div>
	<div class="row" style="margin-top: -30px;">
	  <div class="three columns center">
	    <img src="/static/images/screencast.png" /><br />
	    Automatic Employee Scheduling
	  </div>
	  <div class="three columns center">
	    <img src="/static/images/screencast.png" /><br />
	    Define Staffing Needs
	  </div>
	  <div class="three columns center">
	    <img src="/static/images/screencast.png" /><br />
	    Manage Employees
	  </div>
	  <div class="three columns center">
	    <img src="/static/images/screencast.png" /><br />
	    Save Schedules as Templates
	  </div>
	</div>
</div>
{% endblock %}