{% extends "base.html" %}
{% block title %}Sign up{% endblock %}
{% block body %}
<div id="congrats" class="reveal-modal">
     <h2>Congratulation</h2>
     <p class="lead">You've created your very own BusyBeeManager account.</p>
     <p>We've send you an e-mail with login information.</p>
     <a id="account-url" href="#" class="radius green button right">Take me to my BusyBeeManager account</a>
</div>
<!-- Main Content -->
<div id="main" class="container">

  <form id="signup-form" class="nice" autocomplete="off">
  
    <div class="row">
      <div class="twelve columns">
        <h1>Sign up</h1>
        <h4 class="subheader">Please input a few details, and you will be good to go!</h4>    
      </div>
    </div>
  
    <div class="row">
      <div class="four columns">
      
        <h4>Personal Details</h4>
        <p>
          <label for="firstname">First Name(s)</label>
          <input id="firstname" name="firstname" type="text" class="required input-text" spellcheck="false" />
          <label for="lastname">Last Name</label>
          <input id="lastname" name="lastname" type="text" class="required input-text" spellcheck="false" />
          <label for="email">E-mail</label>
          <input id="email" name="email" type="text" class="required email input-text" spellcheck="false" />
          <label for="confirmemail">Confirm E-mail</label>
          <input id="confirmemail" name="confirmemail" type="text" class="input-text" spellcheck="false" />
        </p>
      </div>
      <div class="four columns">
        <h4>Company Name and URL</h4>
        <p>
          <label for="name">Company or Group Name</label>
          <input id="name" name="name" type="text" class="required input-text" spellcheck="false" />
        </p>
        <p>
          <label for="url">Address to Your Account</label>
          <input id="url" name="url" type="text" class="required input-text" spellcheck="false" />
        </p>
        <p>
          http://<strong><span id="subdomain"></span></strong>.busybeehq.com
        </p>
      </div>
      <div class="four columns">
        <h4>Terms and Conditions</h4>
        <p>
          When you sign up and create an account, you sign up to our Free plan.
        </p>
        <p>
          If you want to enable features that are part of our paying plans, you can upgrade to those within the application.
        </p>
        <p>
          <input id="terms" name="terms" type="checkbox" /> I agree with the <a href="/terms">Terms and Conditions</a>
        </p>
        <input id="btn-signup" type="button" disabled="disabled" value="Create Account" class="large radius black button right" />
      </div>
    </div>
    
    <div class="row">
      <div class="twelve columns">
        <p>
          <em>All fields are mandatory.</em>
        </p>
      </div>
    </div>
    
  </form>

</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="/static/js/jquery.alphanumeric.js"></script>
<script type="text/javascript" src="/static/js/jquery.validate.js"></script>
<script type="text/javascript"> 
	$(function() {
	  var subdomainEmptyText = '[your address]';
	  $("#subdomain").html(subdomainEmptyText);
	  
    $("#signup-form").validate({
      errorElement: "small",
      onkeyup: false,
      onfocusout: false,
      messages: {
        confirmemail: {
          equalTo: "Please enter your e-mail again."
        },
        url: {
          remote: "Address is taken. Please try another."
        }
      },
      rules: {
        confirmemail: {
          equalTo: "#email"
        },
        url: {
          remote: "/api/checkname"
        }
      }
    });
    
    $("#url").alphanumeric({
      nocaps: true,
      ichars: '§€<>.,æøåÆØÅ '
    });
    
    $("#url").keypress(function(e){      
      if ($(this).val().length < 20)
        return true;
      else
        return false;
    })
    
    $("#url").keyup(function() {
      $("#subdomain").html($(this).val());
      
      if ($(this).val() == '')
        $("#subdomain").html(subdomainEmptyText);
    });
	  
	  $("input#terms").click(function(){
	    if ($(this).is(':checked') == true)
	      $("input#btn-signup").removeAttr('disabled');
	    else
	      $("input#btn-signup").attr('disabled', 'disabled');
	  });
	  
	  $("input#btn-signup").click(function(){
	    if ($("#signup-form").valid()) {
	      
	      $.ajax({
          url: 'http://static.busybeehq.com/api/json?method=busybee.account.signup',
          dataType: 'jsonp',
          data: {
            name: $("#url").val(),
            companyname: $("#name").val(),
            firstname: $("#firstname").val(),
            lastname: $("#lastname").val(),
            email: $("#email").val()
          },
          success: function(data) {
            if (data.code == 200) {
              $("#account-url").attr('href','http://' + $("#url").val() + '.busybeehq.com');

        	    $("#congrats").reveal({
                closeOnBackgroundClick: false
        	    });
            }
            else
              alert("!!!success!!!");
          },
          error: function() {
            alert("!!!error!!!");
          }
        })
	    }
	  });
	});
</script>
{% endblock %}



